In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

In [15]:
df = pd.read_csv('./data/clean_data_tauschwohnung.csv', index_col="Unnamed: 0")
df

,g-city,g-rent,g-surf,g-rooms,t-city,t-max-rent,t-surf-min,t-rooms
0,Berlin,2500 €,145 m²,5,Berlin,1.400 €,72 m²,2
1,Berlin,690 €,68 m²,2,Berlin,1.320 €,75 m²,3
2,Berlin,1165 €,136 m²,4,Berlin,800 €,50 m²,"1,5"
3,Berlin,840 €,100 m²,3,Berlin,500 €,40 m²,2
4,Berlin,978 €,85 m²,3,Berlin,1.500 €,110 m²,"3,5"
...,...,...,...,...,...,...,...,...
26610,Stuttgart,980 €,102 m²,"3,5",Stuttgart,1.400 €,90 m²,"3,5"
26611,Stuttgart,1100 €,80 m²,3,Stuttgart,600 €,40 m²,2
26612,Stuttgart,780 €,74 m²,"3,5",Stuttgart,1.400 €,90 m²,4
26613,Stuttgart,895 €,68 m²,2,Stuttgart,1.600 €,75 m²,3
26614,Stuttgart,425 €,50 m²,2,Stuttgart,2.000 €,100 m²,4

In [14]:
df['t-surf-min'][0]

'72\xa0m²'

In [11]:
np.isnan(df["t-surf-min"]).sum()

26501

In [14]:
len(df[(df["g-city"] == "Berlin") & (df["t-city"] != "Berlin")]) / len(df[df["g-city"] == "Berlin"])

0.06733832773615775